* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  background-color: /*#f2f2f2*/ #d8d8d8;
  
  font-size: 100%;
  font-family: 'Helvetica', sans-serif;
  
  display: flex;
}

a {
  text-decoration: none;
  color: #ececec;
}

/*---------
NAVIGATION 
---------*/

.navigation-bar {
  position: fixed;
  width: 15vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  
  background-color:#242424;
  
  padding: 1rem;
  
  clear: both;
}


/*LANGUAGE*/
.lang {
  align-self: flex-end;
  
  font-size: 0.75rem;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
  color: #ececec; 
}

.lang-en {
  color: #909090;
  font-weight: 600;
}

/*PRESENTATION*/

.monogram {
  padding-top: 3rem;
}

img {
  width: 60%;
}

.name {
  margin: 0;
  
  font-weight: 400;
  text-decoration: none;
  
  color: #ececec;
}

.profession {
  display: none;
}

/*INTERNAL LINKING*/

nav {
 padding-top: 5rem; 
}

ul {
  margin: 0;
  padding: 0;
  
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
}

.portfolio-nav {
  font-size: 0.75rem;
  font-weight: 200;
}

.strikeout {
  line-height: 1rem;
  position: relative;
}
.strikeout:hover::after {
  opacity: 1;
  border-bottom: 0.18rem solid #ececec;
  content: "";
  left: 0;
  margin-top: calc(0.18rem / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}


/*HOMEPAGE*/

.homepage {
  margin-left: auto;
  width: 85vw;
  height: 100vh;
}

.area {
  padding: 0;
  width: 50%;
  height: 50%;
  
  float: left;
  
  background-repeat: no-repeat;
  background-position: center;
}

.area-web-design {
  background-image: url(../IMG/ATM-prototype.png);
}

.area-graphic-design {
  background-image: url(../IMG/abacedario-3.png);
}

.area-photography {
  background-image: url(../IMG/espressione-libri-1.png);
}

.area-painting {
  background-image: url(../IMG/t-shirt-2.png);
}

.background {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.9);
}

/*
h3 {
  margin: 0;
  padding: 21vh 0;
}


.headline {
  display: none;
}

.headline:hover {
 display: block;
  text-align: center;
  font-size: 3rem;
  
  font-weight: 600;
  
  margin-top: 22.5vh;
}
*/

/*
.area-web-design {
 width: 50%;
  height: 50%; 
  background-image: url(../IMG/ATM-prototype.png);
}

.background {
  width: 50%;
  height: 50%;
  
  background-color: rgba(42, 42, 42, 0.8);
  float:left; 
}

.backgorund {
  background-color:#333333;
}*/

/*BACKGROUND*/

/*.area:hover p {
  opacity: 1;
}

.area-web-design:hover {
  background-color:#4386db;
}

.area-graphic-design {
  background-color:#333333;
  float: right;
  
   border-left: 0.1vw solid white;
   border-bottom: 0.1vw solid white
}


.area-graphic-design:hover {
  background-color:#144113;
}



.area-photography {
  background-color:#333333;
  float: left;
  
   border-right: 0.1vw solid white;
   border-top: 0.1vw solid white;
}



.area-photography:hover {
  background-color:#5a1515;
}


.area-painting {
  background-color:#333333;
  float:right;
}

.area-painting:hover {
  background-color:#c9a423;
}
}*/