* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  background-color: #ececec;
  
  font-size: 100%;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  
  display: flex;
}

a {
  text-decoration: none;
  color: #ececec;
}

/*---------
NAVIGATION 
---------*/

.navigation-bar {
  position: fixed;
  width: 15vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  
  background-color:#242424; /*#333*/
  
  padding: 1rem;
  
  clear: both;
}


/*LANGUAGE*/
.lang-homepage {
  opacity: 0;
}

.lang {
  align-self: flex-end;
  
  font-size: 0.75rem;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
  color: #909090; 
}

.lang-en {
  color: #ececec;
  font-weight: 600;
}

.lang-it {
  color: #ececec;
  font-weight: 600;
}

/*PRESENTATION*/

.monogram {
  padding-top: 3rem;
}

.monogram img {
  width: 50%;
}

.name {
  margin-top: 0.5rem;
  
  font-weight: 400;
  text-decoration: none;
  
  color: #ececec;
}

.profession {
  display: none;
}

/*INTERNAL LINKING*/

nav {
 padding-top: 5rem;
}

.about {
  padding-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  
  font-weight: 400;
  
  text-transform: uppercase;
  list-style-type: none;
}

.portfolio-nav {
  font-size: 0.75rem;
  font-weight: 200;
}


/*.footer {
  align-self: flex-end;
  color: #ececec;
  font-weight: 200;
  font-size: 0.8rem;
}*/

.wd {
  font-weight: 600;
  color:#696969; 
}

.strikeout:hover {
  
  color:#696969; 
}


/*HOMEPAGE*/

.homepage {
  margin-left: auto;
  width: 85vw;
  height: 100vh;
}

.area {
  padding: 0;
  width: 50%;
  height: 50%;
  
  float: left;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.area-web-design {
  background-image: url(../IMG/D_G_home.png);
  
}

.area-graphic-design {
  background-image: url(../IMG/abacedario-2.png);
}

.area-photography {
  background-image: url(../IMG/espressione-libri-1.png);
}

.area-painting {
  background-image: url(../IMG/t-shirt-2.png);
}

.background {
  opacity:0;
  padding: 0;
  width: 100%;
  height:100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.background:hover {
  opacity: 1;
  background-color: rgba(45, 45, 45, 0.9);
}

.headline {
  margin: 0;
  text-align: center;
  
  
  font-size: 3rem;
}

/*--------------
     ABOUT
-------------*/

p {
  margin: 0;
  padding: 0;
}

.content-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  color: #adadad;
  
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13rem;
 
}


.presentation {
  font-weight: 900;
  font-size: 2rem;
  position: relative;
  bottom: 5rem;
  left: 4rem;
}


.contact-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  position: relative;
  left: 4rem;
  
  line-height: 2rem;
}

.contact {
  color: #333;
  
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
}

.contact:hover {
  color: #adadad;
}

.email {
  /*transform: rotate(-90deg);*/
}



/*---------
WEB DESIGN
---------*/

/*PROJECTS*/

.content {
  margin-left: auto;
  width: 85vw;
  
  display: flex;
  justify-content: space-around;
}

.wrapper {
  margin: 0 auto;
  width: 75%;
  margin-top: 5vh;
  margin-bottom:10vh;
  
  background-color: #ececec;
}

.project-title {
  margin: 0.3rem 0 0 0;
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

.project-topic {
  font-size: 1.3rem;
}

.intro {
  padding-bottom: 5rem;
}

.line {
  position: absolute;

  width: 30px;
  height: 5px;
  
  background-color: brown;
}

.line-space {
  margin-top: 1rem;
}

.invision {
  color: brown;
}

.screens {
  width: 100%;
  
  margin-bottom: 3rem;
}


/*-------
  ARROWS
-------*/

.arrow_left {
  position:fixed;
  left: 16vw;
  top: 45vh;
  
  height: 100px;
}

.arrow_right {
  position:fixed;
  right: 1.5rem;
  top: 45vh;
  
  height: 100px;
  
}

.arrow1 {
  transform:rotate(-45deg);
  background:#333;
  border-radius:100px;
  
  width: 60px;
  height: 12px;
  
  position: absolute;
  top: 25%;
}

.arrow2 {
  transform:rotate(45deg);
  background:#333;
  border-radius:100px;
  
  width: 60px;
  height: 12px;
  
  position: absolute;
  top: 60%;
}


.arrow3 {
  transform:rotate(45deg);
  background:#333;
  border-radius:100px;
  
  width: 60px;
  height: 12px;
  
  position: absolute;
  right:30%;
  top: 25%;
}

.arrow4 {
  transform:rotate(-45deg);
  background:#333;
  border-radius:100px;
  
  width: 60px;
  height: 12px;
  
  position: absolute;
  right:30%;
  top: 60%;
}







@media only screen and (max-width:1360px) {
  
  .monogram img {
  width: 60%;
}
  
  .name {
    font-size: 0.8rem;
  }
  
}




@media only screen and (max-width:1024px) {

  .lang {
    font-size: 0.7rem;
  }
  
  
  li {
    font-size: 0.9rem;
  }  
  
.portfolio-nav {
  font-size: 0.65rem;
}
  
  
  .name {
    font-size: 0.7rem;
  }
  
  
  
  /*--------------
     ABOUT
-------------*/

.hello {
  font-size: 10rem;
 
}


.presentation {
  font-size: 1.5rem;
  bottom: 3.8rem;
}
  
  
}



@media only screen and (max-width:800px) {
  
  li {
    font-size:0.7rem ;
  }
  
  .portfolio-nav {
    font-size:0.55rem ;
  }
  
  /*ARROWS*/
  
  .arrow_right {
    right: 0.3rem;
  }
  
  
    /*--------------
     ABOUT
-------------*/


  
.hello {
  font-size: 8rem;
 
}


.presentation {
  font-size: 1rem;
  
  bottom: 2.7rem;
  left: 2.5rem;
}
 
  .contact-section {
    left: 2.5rem;
  }
  
  .contact {
    font-size: 0.8rem;
  }
  
}


/* MAIN BREAKPOINT*/


@media only screen and (max-width:640px) {
  
 /*---------
NAVIGATION 
---------*/

  
.navigation-bar {
  padding: 0 0.6rem 0 0.6rem;
  padding-top: 0.6rem;
  width: 100vw;
  height: 55px;
  
  flex-direction: row;
  
  z-index: 1;
}

/*LANGUAGE*/
.lang {
  display: none; 
}

/*PRESENTATION*/

.monogram {
  padding-top: 0;
}

.monogram img {
  width: 17%;
  
}

.name {
  margin: 0;
  font-size: 0.5rem;
}

/*INTERNAL LINKING*/

nav {
display: none; 
} 

.hamburger {
  display: block;
  position:fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  transition: all 0;
  
  z-index: 1;
}

.bar {
    background: #ececec;
}


.bar1 {
  position: absolute;
  right:25%;
  top: 30%;
  width: 30px;
  height: 3px;
  background: #ececec;
  
  transition: rotate 0.1s ease-in;
  transform: rotate(0);
}

a:hover .bar1 {
  transform: rotate(-45deg);
  top:50%;
  
  transition: rotate 0.3s ease 0.3s, top 0.05s ease-in;
}

.bar2 {
  position: absolute;
  right:25%;
  top: 40%;
  width: 40px;
  height: 3px;
  
  
  transition: opacity 0s;
  opacity: 1;
}

a:hover .bar2 {
  opacity: 0;
  
  transition: opacity 0.1s ease-in;
} 

.bar3 {
  position: absolute;
  right:25%;
  top: 50%;
  width: 25px;
    height: 3px;
  background: #ececec;
  
  transition: opacity 0s;
  opacity: 1;
}

a:hover .bar3 {
  opacity: 0;
  
  transition: opacity 0.1s ease-in;
}

.bar4 {
  position: absolute;
  right:25%;
  top: 60%;
  width: 30px;
    height: 3px;
  background: #ececec;
  
  transition: rotate 0.1s ease-in;
  transform: rotate(0);
}

a:hover .bar4 {
  transform: rotate(45deg);
  top:50%;
  
  transition: rotate 0.3s ease 0.3s, top 0.05s ease-in;
}  
  
  
  
/*---------
  HOMEPAGE
  ---------*/

.homepage {
  margin-left: 0;
  width: 100vw;
  height: 100vh;
}

.area {
  width: 100%;
  height: 25%;
}    
  
  /*-------
  ARROWS
-------*/

.arrow_left {
  left: 0;
}

.arrow_right {
  right: 0;
}

.arrow1 {
  width: 30px;
  height: 8px;

  top: 25%;
}

.arrow2 {
  width: 30px;
  height: 8px;

  top: 43%;
}


.arrow3 {
  width: 30px;
  height: 8px;

  top: 25%;
}

.arrow4 {
  width: 30px;
  height: 8px;

  top: 43%;
}
  
  /*ATM PROJECT*/

.content {
  margin-left: auto;
  width: 100vw;
  
  display: flex;
}

.wrapper {
  width: 85%;
  margin-top: 15vh;
  margin-bottom:10vh;
  
  background-color: #ececec;
}

.project-title {
  margin: 0.3rem 0 0 0;
  font-size: 2.5rem;
  color: #333;
}

.project-topic {
  font-size: 1rem;
}

.line {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: brown;
}
  
  .intro {
  padding-bottom: 3rem;
}
  
}


@media only screen and (max-width:480px) {
  
   /*-------
  ARROWS
-------*/

.arrow_left {
  left: 0;
}

.arrow_right {
  right: 0;
}

.arrow1 {
  width: 25px;
  height: 8px;

  top: 25%;
}

.arrow2 {
  width: 25px;
  height: 8px;

  top: 38%;
}


.arrow3 {
  width: 25px;
  height: 8px;

  top: 25%;
}

.arrow4 {
  width: 25px;
  height: 8px;

  top: 38%;
}
 
 
    /*--------------
     ABOUT
-------------*/


  
.hello {
  font-size: 5rem;
}


.presentation {
  padding-right: 1.8rem;
  
  font-size: 1rem;
  
  bottom: 2rem;
}
 
  .contact-section {
    padding-right: 1.8rem;
  }
  
  .contact {
    font-size: 0.8rem;
  }  
  
  
/*ATM PROJECT*/
  
  .wrapper {
  width: 83%;
  margin-top: 15vh;
  margin-bottom:10vh;
  
  background-color: #ececec;
}
  
}


@media only screen and (max-width:320px) {
  
      /*--------------
     ABOUT
-------------*/


  
.hello {
  font-size: 6rem;
}


.presentation {
  margin: 0 auto;
  padding-right: 1.8rem;
  
  font-size: 1rem;
  
  bottom: 2.2rem;
  left: 2.5rem;
}
 
  .contact-section {
    padding-right: 1.8rem;
    
    left: 2.5rem;
  }
  
  .contact {
    font-size: 0.8rem;
  }
  
  
}



/*




@media (max-width:800px) {
  
  HOMEPAGE
  
 .nav {
  display: none;
} 

  .hamburger {
    display: block;
  }

.hamburger {
  position:absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  transition: all 0;
}

.bar {
    background: #ececec;
}


.bar1 {
  position: absolute;
  right:25%;
  top: 30%;
  width: 30px;
  height: 3px;
  background: #ececec;
  
  transition: rotate 0.1s ease-in;
  transform: rotate(0);
}

a:hover .bar1 {
  transform: rotate(-45deg);
  top:50%;
  
  transition: rotate 0.3s ease 0.3s, top 0.05s ease-in;
}

.bar2 {
  position: absolute;
  right:25%;
  top: 40%;
  width: 40px;
  height: 3px;
  
  
  transition: opacity 0s;
  opacity: 1;
}

a:hover .bar2 {
  opacity: 0;
  
  transition: opacity 0.1s ease-in;
} 

.bar3 {
  position: absolute;
  right:25%;
  top: 50%;
  width: 25px;
    height: 3px;
  background: #ececec;
  
  transition: opacity 0s;
  opacity: 1;
}

a:hover .bar3 {
  opacity: 0;
  
  transition: opacity 0.1s ease-in;
}

.bar4 {
  position: absolute;
  right:25%;
  top: 60%;
  width: 30px;
    height: 3px;
  background: #ececec;
  
  transition: rotate 0.1s ease-in;
  transform: rotate(0);
}

a:hover .bar4 {
  transform: rotate(45deg);
  top:50%;
  
  transition: rotate 0.3s ease 0.3s, top 0.05s ease-in;
}

 HOMEPAGE
  
.homepage {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.area:hover p {
  opacity: 1;
}

.background {
  width: 100vw;
  height: 25vh;
  
  border-bottom: 0.1vw solid white;
}
  
.area-graphic-design {
   border-left: 0;
}


.area-photography {
   border-right: 0 ;
   border-top: 0 ;
}

.headline {
  font-size: 2rem;
  margin-top: 10vh;
} 
 
.presentation {
  
  width: 50vw;
  height: 9.5vh;
  
  position: absolute;
  z-index: 1;
  
  margin-top: 45.7vh;
  margin-left: 25vw;
  
  text-align: center;
  
  background-color: #ececec;
  
  padding: 10px;
}
 
  
    arrows
.arrow_left {
  left: 1vw;
}

.arrow1 {
  width: 30px;
  height: 5px;
  
  top: 56%;
  left: 0;
}

.arrow2 {
  width: 30px;
  height: 5px;
  
  top: 75%;
  left: 0;
}


.arrow3 {
  width: 30px;
  height: 5px;

  top: 56%;
  right: 0;
}

.arrow4 {
  width: 30px;
  height: 5px;
  
  top: 75%;
  right: 0;
}
  
  
  CONTENt
  
  .content-full-section {
  margin-left: 13vw;
}
  
WEB DESIGN
  
  .img-and-description {
    flex-direction: column;
    justify-content: center;
}
  
  .mock-up {
  align-self: center;
}
  
  .description {
    margin-top: 0;
   align-self: center; 
  }
  
  .description-atm {
    border:0;
  }
  
GRAPHIC DESIGN 
  
  .graphic-design-bg {
   border-left: 0; 
  }
  
  .description-full-section {
  font-size: 1rem;
  padding: 1rem 5rem;
}  
  
 
}


@media (max-width:480px) {
  
HOMEPAGE 
.presentation {
  
  width: 70vw;
  height: 9vh;
  
  margin-top: 46.5vh;
  margin-left: 15vw;
  
  padding: 8px;
}
  
  #name{
    font-size: 1.1rem;
  }
  
  #profession {
    font-weight: 400;
  }
  
  GRAPHIC DESIGN 
  
  .project-title {
    font-size: 3.25rem;
    line-height: 2.6rem;
    padding-left: 3vw;
    top: 34%;
  }
  
  .description-full-section {
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}
  
}
  







@media (max-width:320px) {
  
  ARROW
  .arrow_left {
  top: 20vh; 
  }
  
  .arrow_right {
  top: 20vh; 
  }
  
 CONTENT
  
  .content-full-section {
    
  }
  
  
 GRAPHIC DESIGN 
  
  .project-title {
    font-size: 2.5rem;
    line-height: 1.7rem;
    padding-left: 2vw;
    top: 30%;
  }
  
  .description-full-section {
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
} 
  
}*/