* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Helvetica', 'Arial', sans-serif;
  
  
}

.first-section {
  margin: 0;
  padding: 0;
 width: 100vw;
  height: 100vh; 
  
  overflow: hidden;
}

.first-animation {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: white;
}

.wrapper {
  width: 80vw;
  height: 80vh;
  
  background-color: #f2f2f2;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}


nav {
  position: absolute;
  right: 0;
  
  
  
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 2rem 0;
  
  list-style: none;
  
  transform: rotate(90deg);
  
  
}

.normal {
  display: flex;
  
  animation: Rotation 5s ease-out;
  
  animation-iteration-count: infinite;
  
  perspective: 100%;
  
  transform-style: preserve-3d;
}

@keyframes Rotation {
  0% {
    transform: rotateX(0);
  }
  
  50%{
    transform:rotateX(360deg);
  }
  
  100%{
    transform:rotateX(0);
  }
}


.letter {
  display: inline-block;
  
  margin: 0 auto;
  
 
  
  font-size: 13rem;
  font-weight: 700;
  
  perspective: 100%;
  
  transform-style: preserve-3d;
}

.letter-h {
  transform: translateZ(350px);
}


.letter-e {
 transform: translateZ(-70px); 
}

.letter-l {
 transform: translateZ(-210px); 
}


.letter-l2 {
 transform: translateZ(300px); 
}

.letter-o {
 transform: translateZ(100px); 
}

.point {
 transform: translateZ(-225px); 
}




.second-animation {
  width: 100vw;
  height: 100vh;
  
  background-color: blueviolet;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper2 {
 display: flex;
  justify-content: center;
  align-items: center; 
}


